mixin like-button(args)
    - var {value, isActive} = args
    button.like-button(class=`${isActive ? "button-active" : ""}`) 
        .like-button__icon-wrapper 
            span.like-button__icon 
        .like-button__value= value