@import "../common/mixins.scss";

.like-buttons {
  max-width: 320px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  &__title {
    @include title();
    margin: 17px 0px;
  }

  &__buttons {
    display: flex;
    gap: 10px;
    .like-button {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 5px;
      width: 40px;
      height: 20px;
      background: transparent;
      border-radius: 10px;
      border: 1px solid rgba(31, 32, 65, 0.25);
      background: white;
      &__icon-wrapper {
        position: relative;
        min-width: 10px;
        min-height: 10px;
        display: flex;
      }
      &__icon {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        left: -2px;
        background-image: url('data:image/svg+xml,%3Csvg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M5.03906 6.73438C5.66406 6.17448 6.1263 5.7513 6.42578 5.46484C6.72526 5.17839 7.05078 4.83984 7.40234 4.44922C7.75391 4.05859 7.99479 3.71354 8.125 3.41406C8.26823 3.11458 8.33984 2.82161 8.33984 2.53516C8.33984 2.11849 8.19661 1.77344 7.91016 1.5C7.63672 1.22656 7.29167 1.08984 6.875 1.08984C6.54948 1.08984 6.24349 1.18099 5.95703 1.36328C5.68359 1.54557 5.49479 1.77995 5.39062 2.06641H4.60938C4.50521 1.77995 4.3099 1.54557 4.02344 1.36328C3.75 1.18099 3.45052 1.08984 3.125 1.08984C2.70833 1.08984 2.35677 1.22656 2.07031 1.5C1.79688 1.77344 1.66016 2.11849 1.66016 2.53516C1.66016 2.82161 1.72526 3.11458 1.85547 3.41406C1.9987 3.71354 2.24609 4.05859 2.59766 4.44922C2.94922 4.83984 3.27474 5.17839 3.57422 5.46484C3.8737 5.7513 4.33594 6.17448 4.96094 6.73438L5 6.77344L5.03906 6.73438ZM6.875 0.25C7.52604 0.25 8.06641 0.471354 8.49609 0.914062C8.9388 1.35677 9.16016 1.89714 9.16016 2.53516C9.16016 2.91276 9.08854 3.28385 8.94531 3.64844C8.80208 4 8.53516 4.39714 8.14453 4.83984C7.76693 5.28255 7.42188 5.65365 7.10938 5.95312C6.79688 6.2526 6.29557 6.71484 5.60547 7.33984L5 7.88672L4.39453 7.35938C3.49609 6.55208 2.84505 5.94661 2.44141 5.54297C2.05078 5.13932 1.6862 4.66406 1.34766 4.11719C1.00911 3.57031 0.839844 3.04297 0.839844 2.53516C0.839844 1.89714 1.05469 1.35677 1.48438 0.914062C1.92708 0.471354 2.47396 0.25 3.125 0.25C3.88021 0.25 4.50521 0.542969 5 1.12891C5.49479 0.542969 6.11979 0.25 6.875 0.25Z" fill="%231F2041" fill-opacity="0.25"/%3E%3C/svg%3E');
      }
      &__value {
        color: rgba(31, 32, 65, 0.25);
        font-size: 10px;
        line-height: 12px;
        font-weight: 400;
        font-family: "Montserrat", sans-serif;
      }
    }
    .button-active {
        border: 1px solid #bc9cff;
        .like-button__value {
            color: #bc9cff;
        }
        .like-button__icon {
          width: 100%;
          height: 100%;
          background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.93 7.887l-.605-.547A80.924 80.924 0 012.82 5.953c-.313-.3-.664-.67-1.055-1.113-.377-.443-.638-.84-.781-1.192A3.021 3.021 0 01.77 2.535c0-.638.215-1.178.645-1.62.442-.444.99-.665 1.64-.665.755 0 1.38.293 1.875.879C5.425.543 6.05.25 6.805.25c.651 0 1.192.221 1.621.664.443.443.664.983.664 1.621 0 .508-.169 1.035-.507 1.582a7.84 7.84 0 01-1.114 1.426c-.39.404-1.035 1.01-1.933 1.816l-.606.528z' fill='%23BC9CFF'/%3E%3C/svg%3E");
        }
    }
  }
}
