@import "../common/mixins.scss";

.date-dropdown {
  max-width: 266px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  &__title {
    @include title();
  }
  &__input {
    @include input(266px);
  }
  &__arrow {
    position: absolute;
    right: 0;
    top: 70%;
  }
}
.date-dropdown.dropdown-singe {
  max-width: 150px;
}

.date-dropdown.dropdown-disable {
  .date-dropdown__arrow:after {
    @include arrow(45deg);
  }
}
.date-dropdown.dropdown-active {
  .date-dropdown__arrow:after {
    @include arrow(-135deg);
  }
}

.litepicker.litepicker.litepicker {
  .month-item-weekdays-row > * {
    color: rgba(188, 156, 255, 1);
    font-size: 12px;
    font-weight: 600;
  }
  .day-item {
    font-weight: 700;
    color: rgba(31, 32, 65, 0.8);
    cursor: pointer;
    &:hover {
      box-shadow: inset 0 0 0 1px rgba(188, 156, 255, 1);
    }
  }
  .is-start-date,
  .is-end-date {
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    color: white;
  }
  .button-next-month,
  .button-previous-month {
    cursor: pointer;
  }
}
