@font-face {
  font-family: "Montserrat";
  src: url("fonts/woff2/Montserrat/Montserrat-Thin.woff2"),
    url("fonts/woff/Motserrat/Montserrat-Thin.woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/woff2/Montserrat/Montserrat-ExtraLight.woff2"),
    url("fonts/woff/Motserrat/Montserrat-ExtraLight.woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/woff2/Montserrat/Montserrat-Light.woff2"),
    url("fonts/woff/Motserrat/Montserrat-Light.woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/woff2/Montserrat/Montserrat-Regular.woff2"),
    url("fonts/woff/Motserrat/Montserrat-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/woff2/Montserrat/Montserrat-Medium.woff2"),
    url("fonts/woff/Motserrat/Montserrat-Medium.woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/woff2/Montserrat/Montserrat-SemiBold.woff2"),
    url("fonts/woff/Motserrat/Montserrat-SemiBold.woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Material Icons";
  src: url("fonts/woff2/Material/material-icons.woff2"),
    url("fonts/woff/Material/material-icons.woff");
}
