mixin checkbox-item(args)
    - var {name} = args 
    li.checkbox-item
        label.checkbox
            input.checkbox__input(type="checkbox")
            .checkbox__box
                span.checkbox__check-symbol
            span.checkbox__title= name